{% extends 'base.html' %}

{% block title %}API Dashboard{% endblock %}


{% block content %} 
 <!-- ======== sidebar-nav start =========== -->
    {% include 'partials/sidebar-nav.html' %}
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      {% include 'partials/header.html' %}
      <!-- ========== header end ========== -->

     <!-- ========== table components start ========== -->
     <section class="table-components">
      <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="title mb-30">
                <h2>User deleted</h2>
              </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
              <div class="breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/admin/user-manage">User manage</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Trash
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
           <div class="row align-items-center">
            <div class="col-md-6">
            </div>
            <!-- end col -->
            <div class="col-md-6">
              <div class="breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    {% if users|length != 0 %}
                    <li class="breadcrumb-item">
                      <a href="#" onclick="recoveryUserDeleted()">Recovery all</i></a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#" onclick="deleteAllUserDeleted()">Empty trash now</i></a>
                      {% endif %}
                  </ol>
                </nav>
              </div>
            </div>
            <!-- end col -->
          </div>
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-style mb-30">
                <div class="table-wrapper table-responsive">
                    {% if users|length == 0 %}
                      <div style="text-align: center;">
                        Trash empty
                      </div>
                      {% else %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th><h6></h6></th>
                              <th><h6>Fullname</h6></th>
                              <th><h6>Email</h6></th>
                              <th><h6>Role</h6></th>
                              <th><h6>Status account</h6></th>
                              <th><h6>Action</h6></th>
                            </tr>
                            <!-- end table row-->
                          </thead>
                          
                          <tbody>
                          

                            {% for user in users %}
                            <tr>
                              <td>
                                <div class="employee-image">
                                  <img
                                  src="{{ user.avatar }}"alt="" />
                                </div>
                              </td>
                              <td class="min-width">
                                <p>{{user.fullname}}</p>
                              </td>
                              <td class="min-width">
                                <p><a href="#0">{{user.email}}</a></p>
                              </td>
                              <td class="min-width">
                                <p>{{ user.Role.roleName }}</p>
                              </td>
                              <td class="min-width">
                                <span class="status-btn active-btn">Deleted</span>
                              </td>
                              <td>
                              </td>
                            </tr>
                            {% endfor %}
                            <!-- end table row -->
                          </tbody>
                        </table>
                      {% endif%}
                  <!-- end table -->
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
      </div>
      <!-- end container -->
    </section>
    <!-- ========== table components end ========== -->
<!-- ========== footer start =========== -->
{% include 'partials/footer.html' %}
<!-- ========== footer end =========== -->
</main>
<!-- ======== main-wrapper end =========== -->
{% endblock %} 