<script>

  const dataString = $('.data').text().replace(/'/g, '"');
  const dataObj = JSON.parse(dataString)


  function randomColor() {
    const letters = '0123456789ABCDEF';
    let color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }


  function getDataForChart1AndChart2() {
    const labels = [ ...Array(31).keys() ].map(item => {
          return item + 1 < 10 ? `2022-12-0${item + 1}` : `2022-12-${item + 1}`
        });
      
    let datasets = {}
    labels.forEach(item => {
      datasets = {
        ...datasets,
        [item]: 0
      }
    })

    // Count item
    Object.keys(dataObj).forEach(key1 => {
      Object.keys(dataObj[key1]).forEach((key2, index) => {
          // console.log(dataObj[key1][key2])
          const date = dataObj[key1][key2]['date'].slice(0, 10).trim();
          datasets = {
            ...datasets,
            [date]: datasets[date] + 1
          }
      })
    })

    // Delete item if value of item = 0
    Object.keys(datasets).forEach(item => {
      if(datasets[item] === 0) {
        delete datasets[item]
      }
    })

      return datasets;
  }

  function getDataForChart4() {
    console.log('chart 4');
    const labels = [ ...Array(31).keys() ].map(item => {
        return item + 1 < 10 ? `2022-12-0${item + 1}` : `2022-12-${item + 1}`
      });
      
    let datasets = {}
    labels.forEach(item => {
      datasets = {
        ...datasets,
        [item]: {
            ok: 0,
            fail: 0
        }
      }
    })

     // Count OK and fail
    Object.keys(dataObj).forEach(key1 => {
      Object.keys(dataObj[key1]).forEach((key2, index) => {
          // console.log(dataObj[key1][key2])
          const date = dataObj[key1][key2]['date'].slice(0, 10).trim();
          let childData = {...datasets[date]};
          if(dataObj[key1][key2]['status'] === 'ok') {
            childData = {
              ...childData,
              ok: childData?.ok + 1
            } 
          } else {
            childData = {
              ...childData,
              fail: childData?.fail + 1
            } 
          }
          datasets = {
            ...datasets,
            [date]: {
              ...childData
            }
          }
      })
    })
    return datasets;
  }

  function renderChart1() {
      const datasets = getDataForChart1AndChart2();
    // =========== chart one start
      const ctx1 = document.getElementById("Chart1").getContext("2d");
      const chart1 = new Chart(ctx1, {
        // The type of chart we want to create
        type: "line", // also try bar or other graph types

        // The data for our dataset
        data: {
          labels: Object.keys(datasets),
          // Information about the dataset
          datasets: [
            {
              label: "",
              backgroundColor: "transparent",
              borderColor: "#4A6CF7",
              data: Object.values(datasets),
              pointBackgroundColor: "transparent",
              pointHoverBackgroundColor: "#4A6CF7",
              pointBorderColor: "transparent",
              pointHoverBorderColor: "#fff",
              pointHoverBorderWidth: 5,
              pointBorderWidth: 5,
              pointRadius: 8,
              pointHoverRadius: 8,
            },
          ],
        },

        // Configuration options
        defaultFontFamily: "Inter",
        options: {
          tooltips: {
            callbacks: {
              labelColor: function (tooltipItem, chart) {
                return {
                  backgroundColor: "#ffffff",
                };
              },
            },
            intersect: false,
            backgroundColor: "#f9f9f9",
            titleFontFamily: "Inter",
            titleFontColor: "#8F92A1",
            titleFontColor: "#8F92A1",
            titleFontSize: 12,
            bodyFontFamily: "Inter",
            bodyFontColor: "#171717",
            bodyFontStyle: "bold",
            bodyFontSize: 16,
            multiKeyBackground: "transparent",
            displayColors: false,
            xPadding: 30,
            yPadding: 10,
            bodyAlign: "center",
            titleAlign: "center",
          },

          title: {
            display: true,
            text: 'Số lượng item được dự đoán trong 1 tháng'
          },
          legend: {
            display: false,
          },

          scales: {
            yAxes: [
              {
                gridLines: {
                  display: false,
                  drawTicks: false,
                  drawBorder: false,
                },
                ticks: {
                  padding: 35,
                  max: 1200,
                  min: 0,
                },
              },
            ],
            xAxes: [
              {
                gridLines: {
                  drawBorder: false,
                  color: "rgba(143, 146, 161, .1)",
                  zeroLineColor: "rgba(143, 146, 161, .1)",
                },
                ticks: {
                  padding: 20,
                },
              },
            ],
          },
        },
      });
      // =========== chart one end
    }
    
  function renderChart2() {
      const datasets = getDataForChart1AndChart2();

       const ctx2 = document.getElementById("Chart2").getContext("2d");
      const chart2 = new Chart(ctx2, {
        // The type of chart we want to create
        type: "pie", // also try bar or other graph types

        // The data for our dataset
        data: {
          labels: Object.keys(datasets),
          // Information about the dataset
          datasets: [
            {
              label: "",
              backgroundColor: Object.keys(datasets).map(item => randomColor()),
              data: Object.values(datasets),
              pointBackgroundColor:'transparent',
              pointHoverBackgroundColor: "#4A6CF7",
              pointBorderColor: "transparent",
              pointHoverBorderColor: "#fff",
              pointHoverBorderWidth: 5,
              pointBorderWidth: 5,
              pointRadius: 8,
              pointHoverRadius: 8,
            },
          ],
        },

        // Configuration options
        defaultFontFamily: "Inter",
        options: {
          tooltips: {
            callbacks: {
              labelColor: function (tooltipItem, chart) {
                return {
                  backgroundColor: "#ffffff",
                };
              },
            },
            intersect: false,
            backgroundColor: "#f9f9f9",
            titleFontFamily: "Inter",
            titleFontColor: "#8F92A1",
            titleFontColor: "#8F92A1",
            titleFontSize: 12,
            bodyFontFamily: "Inter",
            bodyFontColor: "#171717",
            bodyFontStyle: "bold",
            bodyFontSize: 16,
            multiKeyBackground: "transparent",
            displayColors: false,
            xPadding: 30,
            yPadding: 10,
            bodyAlign: "center",
            titleAlign: "center",
          },

          title: {
            display: true,
            text: 'Số lượng item được dự đoán trong 1 tháng'
          },
          legend: {
            display: false,
          },
        },
      });
      // =========== chart one end

      
  }


  function renderChart3() {
      let datasets = {}
      let datasetsWithDate = {}

      Object.keys(dataObj).map(key1=> {
        // datasets = {...datasets, [key1]: 0};
        datasetsWithDate = {
          ...datasetsWithDate, 
          [key1]: {
            totalOk: 0,
            date: null
          }
        }
        Object.keys(dataObj[key1]).map(key2 => {
          if(dataObj[key1][key2]['status'] == 'ok')
            // datasets = {...datasets, [key1]: 
            //   datasets[key1] + 1,
            // };
            datasetsWithDate = {
              ...datasetsWithDate,
              [key1]: {
                totalOk: datasetsWithDate[key1]['totalOk'] + 1,
                date: dataObj[key1][key2]['date'].trim()
              }
            }
        })
      });

      // let datasetsFilter = {}
      // Object.keys(datasets).filter(key => {
      //   return datasets[key] >= 10
      // }).forEach(key => {
      //   datasetsFilter =  {
      //   ...datasetsFilter,
      //   [key]: datasets[key]
      //   }
      // })

      let datasetsFilter = {}
      Object.keys(datasetsWithDate).filter(key => {
        return datasetsWithDate[key]['totalOk'] >= 10
      }).forEach(key => {
        datasetsFilter =  {
        ...datasetsFilter,
        [key]: datasetsWithDate[key]
        }
      })


    const sortable = Object.entries(datasetsFilter)
    .sort(([,a],[,b]) => a['totalOk'] - b['totalOk'])
    .reduce((r, [k, v]) => 
    {
      return { ...r, [k]: v }
    }, {});

    console.log(sortable)

    const ctx3 = document.getElementById("Chart3").getContext("2d");  

    const rows = Object.keys(sortable)
      .reverse().slice(0, 10).map(key => {
      return ` <tr>
                      <td>
                        <div class="check-input-primary">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="checkbox-1"
                          />
                        </div>
                      </td>
                      <td>
                        <div class="product">
                          <p class="text-sm">${key}</p>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm">${sortable[key]['totalOk']} items</p>
                      </td>
                      <td>
                        <p class="text-sm">${sortable[key]['date']}</p>
                      </td>
                      <td>
                        <div class="action justify-content-end">
                          <button
                            class="more-btn ml-10 dropdown-toggle"
                            id="moreAction1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <i class="lni lni-more-alt"></i>
                          </button>
                          <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="moreAction1"
                          >
                            <li class="dropdown-item">
                              <p class="text-gray see-more" data-ho="${key}" onclick="showDetail(event)">See more</p>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>`
    });
    $('.top-selling-table tbody').append(rows)
  }

  function showDetail(e) {
    const hoItemKey =e.target.dataset['ho'] 
    Swal.fire({
      title: hoItemKey,
      html: JSON.stringify(dataObj[hoItemKey], null, 4),
      imageHeight: 1500,
      imageAlt: 'A tall image'
    })
  }

  function renderCalendar() {
      document.addEventListener("DOMContentLoaded", function () {
        var calendarMiniEl = document.getElementById("calendar-mini");
        var calendarMini = new FullCalendar.Calendar(calendarMiniEl, {
          initialView: "dayGridMonth",
          headerToolbar: {
            end: "today prev,next",
          },
        });
        calendarMini.render();
      });
  }

  function renderChart4() {
    const datasets = getDataForChart4()
    const okCount = Object.keys(datasets).map(item => {
      return datasets[item]['ok'];
    })
    const failCount = Object.keys(datasets).map(item => {
      return datasets[item]['fail'];
    })
    const ctx4 = document.getElementById("Chart4").getContext("2d");
    const chart4 = new Chart(ctx4, {
      // The type of chart we want to create
      type: "bar", // also try bar or other graph types
      // The data for our dataset
      data: {
        labels: Object.keys(datasets),
        // Information about the dataset
        datasets: [
          {
            label: "OK",
            backgroundColor: "#4A6CF7",
            barThickness: "flex",
            maxBarThickness: 8,
            data: okCount,
          },
          {
            label: "Fail",
            backgroundColor: "#d50100",
            barThickness: "flex",
            maxBarThickness: 8,
            data: failCount,
          },
        ],
      },
      // Configuration options
      options: {
        borderColor: "#F3F6F8",
        borderWidth: 15,
        backgroundColor: "#F3F6F8",
        tooltips: {
          callbacks: {
            labelColor: function (tooltipItem, chart) {
              return {
                backgroundColor: "rgba(104, 110, 255, .0)",
              };
            },
          },
          backgroundColor: "#F3F6F8",
          titleFontColor: "#8F92A1",
          titleFontSize: 12,
          bodyFontColor: "#171717",
          bodyFontStyle: "bold",
          bodyFontSize: 16,
          multiKeyBackground: "transparent",
          displayColors: false,
          xPadding: 30,
          yPadding: 10,
          bodyAlign: "center",
          titleAlign: "center",
        },

        title: {
          display: false,
        },
        legend: {
          display: false,
        },

        scales: {
          yAxes: [
            {
              gridLines: {
                display: false,
                drawTicks: false,
                drawBorder: false,
              },
              ticks: {
                padding: 35,
                max: 800,
                min: 0,
              },
            },
          ],
          xAxes: [
            {
              gridLines: {
                display: false,
                drawBorder: false,
                color: "rgba(143, 146, 161, .1)",
                zeroLineColor: "rgba(143, 146, 161, .1)",
              },
              ticks: {
                padding: 20,
              },
            },
          ],
        },
      },
    });
    // =========== chart four end
  }
  renderChart1()
  renderChart2()
  renderChart3()
  renderChart4()
  renderCalendar()


</script>