<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}">
  {% block head %} {% endblock %}
  {% block title %} {% endblock %}
</head>
<body>
  <div id="app">
    {% block content %} {% endblock %} 
  </div>
  <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/fontawesome/js/all.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
  {% block script %} {% endblock %} 
</body>
</html>