<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.svg') }}"
      type="image/x-icon"
    />
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/lineicons/lineicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  {% block head %} {% endblock %}
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
  <div id="app">
    {% block content %} {% endblock %} 
  </div>
  <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/fontawesome/js/all.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/pagination/pagination.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/chart/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/fullcalendar/fullcalendar.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/sweetalert2/sweetalert2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script type="text/javascript">
    const currentPathName = window.location.pathname;
    console.log(currentPathName)
    const a = $(`a[href="${currentPathName}"]`)
    a.addClass('active')
    const cookies = document.cookie.split('; ');
    const cookieUname = cookies.find(item => item.includes('username'));
    const cookieAvtar = cookies.find(item => item.includes('avatar'));
    if(cookieUname) {
      $('.info h6').append(cookieUname.split('=')[1])
    }
    if(cookieAvtar) {
      $('.image img').attr('src', cookieAvtar.split('=')[1])
    }
  </script>
  {% block script %} {% endblock %} 
</body>
</html>