{% extends 'base.html' %}

{% block title %}Login - API Dashboard{% endblock %}

{% block content %}
  <main class="container">
      <!-- ========== signin-section start ========== -->
      <section class="signin-section">
        <div class="container-fluid">
          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Hi There!!!</h1>
                    <p class="text-medium">
                      This is where you can create a new password
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src="{{ url_for('static', filename='images/auth/signin-image.svg') }}" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="assets/images/auth/shape.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signin-wrapper">
                <div class="form-wrapper">
                  <h2 class="mb-15">Forgot Password</h2>
                  <p class="text-sm mb-25">
                    Here's how we make it easy for you to recover your lost password and get back to using our services hassle-free.
                  </p>
                  <form method="post">
                    <div class="row">
                      {% if 'message_forgot_password' in session %}
                      <div class="col-12">
                        <div class="alert alert-danger" style="text-align:center">{{ session['message_forgot_password'] }}</div>
                      </div>
                      {% endif %}
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Email</label>
                          <input type="email" placeholder="Email" id="email" name="email" value ="" />
                          <span id="errorMsg1" style="display: none; color: red;">Vui lòng điền vào Email</span>
                        </div>
                      </div>     
                       <div class="col-12">
                        <div class="input-style-1">
                          <label>New Password</label>
                          <input type="password" placeholder="New Password" id="new_password" name="new_password"  value =""/>
                          <span id="errorMsg2" style="display: none; color: red;">Vui lòng điền mật khẩu mới</span>
                        </div>
                      </div>                 
                       <div class="col-12">
                        <div class="input-style-1">
                          <label>Confirm Password</label>
                          <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password"/>
                          <span id="errorMsg3" style="display: none; color: red;">Vui lòng xác nhận mật khẩu mới</span>
                        </div>
                      </div>
      
                     
                      <div class="col-13">        
                        </div>              
                          <script>
                             window.addEventListener('load', function(event) {  
                              fetch('clear_session')
                              .then(function(response) {
                                console.log(response);
                              })
                              .catch(function(error) {
                                console.log(error);
                              });      
                              console.log("ok")
                            });        
                            var email = document.getElementById("email");
                            var new_password = document.getElementById("new_password");
                            var confirm_password = document.getElementById("confirm_password");
                            var errorMsg1 = document.getElementById("errorMsg1");
                            var errorMsg2 = document.getElementById("errorMsg2");
                            var errorMsg3 = document.getElementById("errorMsg3");

                            email.addEventListener("blur", function() {
                              if (email.value === "") {
                                errorMsg1.style.display = "block";
                              } else {
                                errorMsg1.style.display = "none";
                              }
                            });  

                            new_password.addEventListener("blur", function() {
                              if (new_password.value === "") {
                                errorMsg2.style.display = "block";
                              } else {
                                errorMsg2.style.display = "none";
                              }
                            });  

                            confirm_password.addEventListener("blur", function() {
                              if (confirm_password.value === "") {
                                errorMsg3.style.display = "block";
                              } else {
                                errorMsg3.style.display = "none";
                              }
                            });      
                          </script>
                      </div>


                      <!-- <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div class="form-check checkbox-style mb-30">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="checkbox-remember"
                          />
                          <label
                            class="form-check-label"
                            for="checkbox-remember"
                          >
                            Remember me next time</label
                          >
                        </div>
                      </div> -->                     
                      <div class="col-12">
                        <div
                          class="
                            button-group
                            d-flex
                            justify-content-center
                            flex-wrap
                          "
                        >
                          <button
                            class="
                              main-btn
                              primary-btn
                              btn-hover
                              w-100
                              text-center
                            "
                            type="submit"
                          >
                            Sent OTP
                          </button>
                          <div class="pt-40">
                            <p class="text-sm text-medium text-dark text-center">
                              Don’t have any account yet?
                              <a href="{{ url_for('authen.clear_session_signup')}}">Create an account</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->

    </main>
{% endblock %}