{% extends 'base.html' %}

{% block title %}API Dashboard{% endblock %}


{% block content %} 
 <!-- ======== sidebar-nav start =========== -->
    {% include 'partials/sidebar-nav.html' %}
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      {% include 'partials/header.html' %}
      <!-- ========== header end ========== -->

      <!-- ========== section start ========== -->

    <section class="section">
      <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="title mb-30">
                <h2>Overview</h2>
              </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
              <div class="breadcrumb-wrapper mb-30">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Overview
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        {% include 'analysis/total.html' %}
        <!-- End Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card-style mb-30">
              <div class="title d-flex flex-wrap justify-content-between">
                <div class="left">
                  <h6 class="text-medium mb-10">Total number of items predicted for 12/2022</h6>
                  <h3 class="text-bold">{{ totalItemInHo }} items</h3>
                </div>
                <div class="right">
                  <div class="select-style-1">
                    <div class="select-position select-sm">
                      <select class="light-bg">
                        <option value="">Yearly</option>
                        <option value="">Monthly</option>
                        <option value="">Weekly</option>
                      </select>
                    </div>
                  </div>
                  <!-- end select -->
                </div>
              </div>
              <!-- End Title -->
              <div class="chart">
                <canvas
                  id="Chart1"
                  style="width: 100%; height: 400px"
                ></canvas>
              </div>
              <!-- End Chart -->
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card-style mb-30">
              <div
                class="
                  title
                  d-flex
                  flex-wrap
                  align-items-center
                  justify-content-between
                "
              >
                <div class="left">
                  <h6 class="text-medium mb-2">Total amount OK, fail in one day</h6>
                </div>
                <div class="right">
                  <div class="select-style-1 mb-2">
                    <div class="select-position select-sm">
                      <select class="bg-ligh">
                        <option value="">Last 6 Months</option>
                        <option value="">Last 3 Months</option>
                        <option value="">Last Year</option>
                      </select>
                    </div>
                  </div>
                  <!-- end select -->
                </div>
              </div>
              <!-- End Title -->
              <div class="chart">
                <div id="legend4">
                  <ul
                    class="legend3 d-flex flex-wrap align-items-center mb-30"
                  >
                    <li>
                      <div class="d-flex">
                        <span class="bg-color primary-bg"> </span>
                        <div class="text">
                          <p class="text-sm text-success d-flex gap-2">
                            <span class="text-dark">Total amount OK</span> 
                            <span>{{ ((totalStatusOK/totalStatusFail) * 100)|round  }}%</span>
                          </p>
                          <h2>{{ totalStatusOK }} items</h2>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex">
                        <span class="bg-color danger-bg"></span>
                        <div class="text">
                          <p class="text-sm text-danger d-flex gap-2">
                            <span class="text-dark">Total amount fail </span><span> {{ 100 - ((totalStatusOK/totalStatusFail) * 100)|round }}%</span>
                          </p>
                          <h2>{{ totalStatusFail }} items</h2>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <canvas
                  id="Chart4"
                  style="width: 100%; height: 420px"
                ></canvas>
              </div>
              <!-- End Chart -->
            </div>
          </div>
          <!-- End Col -->
        </div>
         <!-- End Title -->
         <div class="col-12">
          <div class="card-style mb-60">
            <div class="title d-flex flex-wrap justify-content-between">
              <div class="chart">
                <div class="left">
                  <h6 class="text-medium mb-30">Tổng số predict_result gây ra status fail</h6>
                  <h2> Total: <span id="predict_result_value"></span> Items</h2>
                </div>
                <canvas
                  id="Chart5"
                  style="width: 100%; height: 600px"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- End Chart -->
        <!-- End Row -->
      </div>
      <!-- end container -->
    </section>
    <!-- ========== section end ========== -->
<!-- ========== footer start =========== -->
{% include 'partials/footer.html' %}
<!-- ========== footer end =========== -->
<div hidden class="data">{{ data }}</div>
</main>
<!-- ======== main-wrapper end =========== -->
{% endblock %} 

{% block script %} 
  {% include 'analysis/script.html' %}
{% endblock %} 
