{% extends 'base.html' %}

{% block title %}Login - API Dashboard{% endblock %}

{% block content %}
  <main class="container">
      <!-- ========== signin-section start ========== -->
      <section class="signin-section">
        <div class="container-fluid">
          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Welcome Back</h1>
                    <p class="text-medium">
                      Sign in to your Existing account to continue
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src="{{ url_for('static', filename='images/auth/signin-image.svg') }}" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="assets/images/auth/shape.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signin-wrapper">
                <div class="form-wrapper">
                  <h2 class="mb-15">Login</h2>
                  <p class="text-sm mb-25">
                    Start creating the best possible user experience for you
                    customers.
                  </p>
                  <form method="post">
                    <div class="row">
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Username</label>
                          <input type="username" placeholder="Username" id="username" name="username" required/>
                          <span id="errorMsg1" style="display: none; color: red;">Vui lòng điền tên đăng nhập</span>
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Password</label>
                          <input type="password" placeholder="Password" id="password" name="password" required/>
                          <span id="errorMsg2" style="display: none; color: red;">Vui lòng điền mật khẩu </span>
                        </div>
                      </div>
                      <!-- end col -->
                      {% if 'message' in session %}
                      <div class="col-12">
                        <div class="alert alert-danger">{{ session['message'] }}</div>
                      </div>
                      {% endif %}
                      <div class="col-13">
                        <div class="input-style-1">
                          <label>Role</label>
                        </div>
                          <input type="checkbox" id="user" name="user" >
                          <label for="user">User</label>
                        
                          <input type="checkbox" id="admin" name="admin" >
                          <label for="admin">Admin</label>
                          <script>
                             window.addEventListener('load', function(event) {  
                              fetch('clear_session')
                              .then(function(response) {
                                console.log(response);
                              })
                              .catch(function(error) {
                                console.log(error);
                              });      
                              console.log("ok")
        
                            });  
                            var userCheckbox = document.getElementById("user");
                            var adminCheckbox = document.getElementById("admin");

                            userCheckbox.addEventListener("change", function() {
                              if (this.checked) {
                                this.value = 1;
                                console.log(this.value);
                                console.log(typeof this.value);
                                adminCheckbox.checked = false;
                              } else{
                                console.log(this.value);
                                this.value = 0;
                              }
                            });

                            adminCheckbox.addEventListener("change", function() {
                              if (this.checked) {
                                userCheckbox.checked = false;
                                this.value = 2;
                                console.log(this.value);
                              }else{
                                this.value = 0;
                                console.log(this.value);
                              }
                            });

                            var username = document.getElementById("username");
                            var password = document.getElementById("password");
                            var errorMsg1 = document.getElementById("errorMsg1");
                            var errorMsg2 = document.getElementById("errorMsg2");

                            username.addEventListener("blur", function() {
                              if (username.value === "") {
                                errorMsg1.style.display = "block";
                              } else {
                                errorMsg1.style.display = "none";
                              }
                            });  

                            password.addEventListener("blur", function() {
                              if (password.value === "") {
                                errorMsg2.style.display = "block";
                              } else {
                                errorMsg2.style.display = "none";
                              }
                            });                           
                          </script>
                      </div>


                      <!-- <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div class="form-check checkbox-style mb-30">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="checkbox-remember"
                          />
                          <label
                            class="form-check-label"
                            for="checkbox-remember"
                          >
                            Remember me next time</label
                          >
                        </div>
                      </div> -->
                      <!-- end col -->
                      <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div
                          class="
                            text-start text-md-end text-lg-start text-xxl-end
                            mb-30
                          "
                        >
                          <a href="{{url_for('authen.getForgotPasswordForm')}}" class="hover-underline"
                            >Forgot Password?</a
                          >
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div
                          class="
                            button-group
                            d-flex
                            justify-content-center
                            flex-wrap
                          "
                        >
                          <button
                            class="
                              main-btn
                              primary-btn
                              btn-hover
                              w-100
                              text-center
                            "
                            type="submit"
                          >
                            Login
                          </button>
                          <div class="pt-40">
                            <p class="text-sm text-medium text-dark text-center">
                              Don’t have any account yet?
                              <a href="{{ url_for('authen.clear_session_signup')}}">Create an account</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->

    </main>
{% endblock %}