{% extends 'base.html' %}

{% block title %}WELCOME TO GROUP O1{% endblock %}

{% block content %}
  <main class="container">
      <!-- ========== signin-section start ========== -->
      <section class="signin-section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Sign in</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item"><a href="#0">Auth</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Sign in
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Welcome Back</h1>
                    <p class="text-medium">
                      Sign in to your Existing account to continue
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src="{{ url_for('static', filename='images/auth/signin-image.svg') }}" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="assets/images/auth/shape.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signin-wrapper">
                <div class="form-wrapper">
                  <h2 class="mb-15">Sign In Form</h2>
                  <p class="text-sm mb-25">
                    Start creating the best possible user experience for you
                    customers.
                  </p>
                  <form method="post">
                    <div class="row">
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Username</label>
                          <input type="username" placeholder="username" id="username" name="username" />
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Password</label>
                          <input type="password" placeholder="Password" id="password" name="password"/>
                        </div>
                      </div>
                      <!-- end col -->
                      {% if 'message' in session %}
                      <div class="col-12">
                        <div class="alert alert-danger">{{ session['message'] }}</div>
                      </div>
                      {% endif %}
                      <div class="col-13">
                        <div class="input-style-1">
                          <label>Role</label>
                        </div>
                          <input type="checkbox" id="user" name="user">
                          <label for="user">User</label>
                        
                          <input type="checkbox" id="admin" name="admin">
                          <label for="admin">Admin</label>
                          <script>
                            var userCheckbox = document.getElementById("user");
                            var adminCheckbox = document.getElementById("admin");

                            userCheckbox.addEventListener("change", function() {
                              if (this.checked) {
                                this.value = 1;
                                console.log(this.value);
                                console.log(typeof this.value);
                                adminCheckbox.checked = false;
                              } else{
                                console.log(this.value);
                                this.value = 0;
                              }
                            });

                            adminCheckbox.addEventListener("change", function() {
                              if (this.checked) {
                                userCheckbox.checked = false;
                                this.value = 2;
                                console.log(this.value);
                              }else{
                                this.value = 0;
                                console.log(this.value);
                              }
                            });
                          </script>
                      </div>


                      <!-- <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div class="form-check checkbox-style mb-30">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="checkbox-remember"
                          />
                          <label
                            class="form-check-label"
                            for="checkbox-remember"
                          >
                            Remember me next time</label
                          >
                        </div>
                      </div> -->
                      <!-- end col -->
                      <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div
                          class="
                            text-start text-md-end text-lg-start text-xxl-end
                            mb-30
                          "
                        >
                          <a href="#0" class="hover-underline"
                            >Forgot Password?</a
                          >
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div
                          class="
                            button-group
                            d-flex
                            justify-content-center
                            flex-wrap
                          "
                        >
                          <button
                            class="
                              main-btn
                              primary-btn
                              btn-hover
                              w-100
                              text-center
                            "
                            type="submit"
                          >
                            Sign In
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->

    </main>
{% endblock %}