{% extends 'base.html' %}

{% block title %}Login - API Dashboard{% endblock %}

{% block content %}
  <main class="container">
      <!-- ========== signin-section start ========== -->
      <section class="signin-section">
        <div class="container-fluid">
          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">One more step to complete!!!</h1>
                    <p class="text-medium">
                      This is where you can create a new password
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src="{{ url_for('static', filename='images/auth/reset_password.png') }}" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="assets/images/auth/shape.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signin-wrapper">
                <div class="form-wrapper">
                  <h2 class="mb-15">Reset Password</h2>
                  <p class="text-sm mb-25">
                    Here's how we simplify the process for you to reset your password and regain access to our services quickly and easily.
                  </p>
                  <form method="post">
                    <div class="row">
                      {% if 'message_reset_password' in session %}
                      <div class="col-12">
                        <div class="alert alert-danger" style="text-align:center">{{ session['message_reset_password'] }}</div>
                      </div>
                      {% endif %}
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>OTP</label>
                          <input type="text" id="OTP" name="OTP" pattern="[0-9]{6}" placeholder="Enter OTP" required>
                          <span id="errorMsg1" style="display: none; color: red;">Vui lòng điền OTP</span>
                        </div>
                      </div>     
                       <div class="col-12">
                        <div class="input-style-1">
                          <label>New Password</label>
                          <input type="password" placeholder="New Password" id="new_password" name="new_password"  value ="" required/>
                          <span id="errorMsg2" style="display: none; color: red;">Vui lòng điền mật khẩu mới</span>
                          <span id="errorMsg4" style="display: none; color: red;">Mật khẩu chưa đủ mạnh. Phải có ít nhất 1 chữ hoa 1 chữ thường 1 số và độ dài từ 6 đến 20</span>
                        </div>
                      </div>                 
                       <div class="col-12">
                        <div class="input-style-1">
                          <label>Confirm Password</label>
                          <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required/>
                          <span id="errorMsg3" style="display: none; color: red;">Vui lòng xác nhận mật khẩu mới</span>
                          <span id="errorMsg5" style="display: none; color: red;">Mật khẩu chưa đủ mạnh. Phải có ít nhất 1 chữ hoa 1 chữ thường 1 số và độ dài từ 6 đến 20</span>
                        </div>
                      </div>
      
                     
                      <div class="col-13">        
                        </div>  
                        <input type="hidden" id="verify_otp" name="verify_otp" value="{{check or 'false'}}" />
                        <input type="hidden" id="sent_otp" name="sent_otp" value="{{check_sentOTP or 'false'}}" />
                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" integrity="sha384-/Wx1NuqlgALfa1Do1U6Mer7quEDHOo8REf/0izoIrV8Y3Z/gtEHQc01STCEMM1LZ" crossorigin="anonymous"></script>                   
                          <script>                    
                            var OTP = document.getElementById("OTP");
                            var new_password = document.getElementById("new_password");
                            var confirm_password = document.getElementById("confirm_password");
                            var errorMsg1 = document.getElementById("errorMsg1");
                            var errorMsg2 = document.getElementById("errorMsg2");
                            var errorMsg3 = document.getElementById("errorMsg3");
                            var errorMsg4 = document.getElementById("errorMsg4");
                            var errorMsg5 = document.getElementById("errorMsg5");
                            var verify_otp = document.getElementById('verify_otp');
                            var sent_otp = document.getElementById('sent_otp');
                            var value_check = verify_otp.value;
                            var value_sent = sent_otp.value;

                            window.addEventListener('load', function(event) {  
                              fetch('clear_session')
                              .then(function(response) {
                                OTP.value ="";
                                if (window.location.search.includes('check=True')) {
                                  value_sent = 'False'
                                  window.history.replaceState(null, null, window.location.pathname);
                                }
                              })
                              .catch(function(error) {
                                console.log(error);
                              });      
                              console.log("ok")
                            });       

                            if(value_check === 'True'){
                              Swal.fire({
                                position: 'fixed',
                                icon: 'success',
                                title: 'OTP verification successful. You can now log in with your new password',
                                showConfirmButton: false,
                                timer: 3000
                                })
                              value_check.value ='False'
                            }
                            if(value_sent === 'True'){
                              Swal.fire({
                                position: 'fixed',
                                icon: 'success',
                                title: 'OTP has been sent. Please check your email.',
                                showConfirmButton: false,
                                timer: 3000
                                })
                              value_sent.value ='False'
                            }

                            OTP.addEventListener("blur", function() {
                              if (OTP.value === "") {
                                errorMsg1.style.display = "block";
                              } else {
                                errorMsg1.style.display = "none";
                              }
                            });  

                            new_password.addEventListener("blur", function() {
                              if (new_password.value === "") {
                                errorMsg2.style.display = "block";
                              } else {
                                errorMsg2.style.display = "none";
                              }
                            });  

                            confirm_password.addEventListener("blur", function() {
                              if (confirm_password.value === "") {
                                errorMsg3.style.display = "block";
                              } else {
                                errorMsg3.style.display = "none";
                              }
                            });   
                            
                            new_password.addEventListener("input", function() {
                              if (validatePassword(new_password.value) || new_password.value === "") {
                                errorMsg4.style.display = "none";
                              } else {
                                errorMsg4.style.display = "block";
                              }
                            });  
                            confirm_password.addEventListener("input", function() {
                              if (validatePassword(confirm_password.value) || confirm_password.value === "") {
                                errorMsg5.style.display = "none";
                              } else {
                                errorMsg5.style.display = "block";
                              }
                            });   

                            function validatePassword(password) {
                              const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;                              
                              return regex.test(password);
                            }
                          </script>
                      </div>


                      <!-- <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div class="form-check checkbox-style mb-30">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="checkbox-remember"
                          />
                          <label
                            class="form-check-label"
                            for="checkbox-remember"
                          >
                            Remember me next time</label
                          >
                        </div>
                      </div> -->                     
                      <div class="col-12">
                        <div
                          class="
                            button-group
                            d-flex
                            justify-content-center
                            flex-wrap
                          "
                        >
                          <button
                            class="
                              main-btn
                              primary-btn
                              btn-hover
                              w-100
                              text-center
                            "
                            type="submit"
                          >
                            VERIFY
                          </button>
                          <div class="pt-40">
                            <p class="text-sm text-medium text-dark text-center">
                              Already have an account?
                              <a href="{{ url_for('authen.clear_session_login')}}">Login</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->

    </main>
{% endblock %}