{% extends 'base.html' %}

{% block title %}SignUp - API Dashboard{% endblock %}

{% block content %}
  <main class="container">
      <!-- ========== signin-section start ========== -->
      <section class="signin-section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Get Started</h1>
                    <p class="text-medium">
                      Sign in to your Existing account to continue
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src="{{ url_for('static', filename='images/auth/signin-image.svg') }}" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="assets/images/auth/shape.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signin-wrapper">
                <div class="form-wrapper">
                  <h2 class="mb-15">SignUp</h2>
                  <p class="text-sm mb-25">
                    Start creating the best possible user experience for you customers.
                  </p>
                  <form method="post">
                    <div class="row">
                      {% if 'message_signup' in session %}
                      <div class="col-12">
                        <div class="alert alert-danger" style="text-align:center">{{ session['message_signup'] }}</div>
                      </div>
                      {% endif %}
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Username</label>
                          <input type="username" placeholder="Username" id="username" name="username" required/>
                          <span id="errorMsg1" style="display: none; color: red;">Vui lòng điền tên đăng nhập</span>
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Password</label>
                          <input type="password" placeholder="Password" id="password" name="password" required/>
                          <span id="errorMsg2" style="display: none; color: red;">Vui lòng điền mật khẩu</span>
                          <span id="errorMsg8" style="display: none; color: red;">Mật khẩu chưa đủ mạnh. Phải có ít nhất 1 chữ hoa 1 chữ thường 1 số và độ dài từ 6 đến 20</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Fullname</label>
                          <input type="text" placeholder="Fullname" id="fullname" name="fullname" required/>
                          <span id="errorMsg3" style="display: none; color: red;">Vui lòng điền tên</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Age</label>
                          <input type="number" placeholder="Age" id="age" name="age" required/>
                          <span id="errorMsg4" style="display: none; color: red;">Vui lòng điền tuổi</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Address</label>
                          <input type="text" placeholder="Address" id="address" name="address" required/>
                          <span id="errorMsg5" style="display: none; color: red;">Vui lòng điền địa chỉ</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Email</label>
                          <input type="email" placeholder="Email" id="email" name="email" value ="" required />
                          <span id="errorMsg6" style="display: none; color: red;">Vui lòng điền email</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Avatar</label>
                          <input type="url" placeholder="Link Images URL" id="avatar" name="avatar" required>
                          <span id="errorMsg7" style="display: none; color: red;">Vui lòng điền url images</span>
                        </div>
                      </div>
                      <!-- end col -->
                     
                      <!-- end col -->
                      <!-- end col -->
                      <div class="col-12">
                        <div
                          class="
                            button-group
                            d-flex
                            justify-content-center
                            flex-wrap
                          "
                        >
                          <button
                            class="
                              main-btn
                              primary-btn
                              btn-hover
                              w-100
                              text-center
                            "
                            type="submit"
                          >
                            SignUp
                          </button>
                          <input type="hidden" id="signup_success" name="signup_success" value="{{check or 'false'}}" />
                         
                          <div class="pt-40">
                            <p class="text-sm text-medium text-dark text-center">
                              Already have an account?
                              <a href="{{ url_for('authen.clear_session_login')}}">Login</a>
                            </p>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->
    </main>
{% endblock %}

{% block script %}
 <script>
  window.addEventListener('load', function(event) {  
    fetch('clear_session')
    .then(function(response) {
      console.log(response);
    })
    .catch(function(error) {
      console.log(error);
    });      
    console.log("ok")
  });  
  var signup_check = document.getElementById('signup_success');
  var value_check = signup_check.value;
  if(value_check === 'true'){
    Swal.fire({
      position: 'fixed',
      icon: 'success',
      title: 'You have successfully created an account',
      showConfirmButton: false,
      timer: 3000
      })
    signup_check.value ='false'
  }

  var username = document.getElementById("username");
  var password = document.getElementById("password");
  var fullname = document.getElementById("fullname");
  var age = document.getElementById("age");
  var address = document.getElementById("address");
  var email = document.getElementById("email");
  var avatar= document.getElementById("avatar");

  var errorMsg1 = document.getElementById("errorMsg1");
  var errorMsg2 = document.getElementById("errorMsg2");
  var errorMsg3 = document.getElementById("errorMsg3");
  var errorMsg4 = document.getElementById("errorMsg4");
  var errorMsg5 = document.getElementById("errorMsg5");
  var errorMsg6 = document.getElementById("errorMsg6");
  var errorMsg7 = document.getElementById("errorMsg7");
  var errorMsg8 = document.getElementById("errorMsg8");

  username.addEventListener("blur", function() {
    if (username.value === "") {
      errorMsg1.style.display = "block";
    } else {
      errorMsg1.style.display = "none";
    }
  });  

  password.addEventListener("blur", function() {
    if (password.value === "") {
      errorMsg2.style.display = "block";
    } else {
      errorMsg2.style.display = "none";
    }
  });       

  fullname.addEventListener("blur", function() {
    if (fullname.value === "") {
      errorMsg3.style.display = "block";
    } else {
      errorMsg3.style.display = "none";
    }
  });     
  
  age.addEventListener("blur", function() {
    if (age.value === "") {
      errorMsg4.style.display = "block";
    } else {
      errorMsg4.style.display = "none";
    }
  });   

  address.addEventListener("blur", function() {
    if (address.value === "") {
      errorMsg5.style.display = "block";
    } else {
      errorMsg5.style.display = "none";
    }
  });   
  email.addEventListener("blur", function() {
    if (email.value === "") {
      errorMsg6.style.display = "block";
    } else {
      errorMsg6.style.display = "none";
    }
  });   

  avatar.addEventListener("blur", function() {
    if (avatar.value === "") {
      errorMsg7.style.display = "block";
    } else {
      errorMsg7.style.display = "none";
    }
  });   


  password.addEventListener("input", function() {
    if (validatePassword(password.value) || password.value === "") {
      errorMsg8.style.display = "none";
    } else {
      errorMsg8.style.display = "block";
    }
  });  

  function validatePassword(password) {
    const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;                              
    return regex.test(password);
  }
</script>
{% endblock %}